body {
    margin: 0;
    font-family: Cairo, Public-Sans, sans-serif;
    background-image: url("/src/Graphics/background-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  