body {
    margin: 0;
    font-family: Cairo, Public-Sans, sans-serif;
    background: linear-gradient(180deg, rgba(32, 30, 31, 0.5) 0%, rgba(32, 30, 31, 0.25) 26.04%, rgba(32, 30, 31, 0) 51.04%, rgba(32, 30, 31, 0.25) 77.6%, rgba(32, 30, 31, 0.5) 100%), url("/src/Graphics/background-image.png") center/cover no-repeat;
    height: 100vh;
  }
  